* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: phetsarath ot;
}
body{
    background-color: #011306;
}
/* keyframes */


/* section navbar */
.size {
    font-size: 16px;
}

.logo {
    font-size: 25px;
    animation: wraperleft 0.4s linear;
}
.navbar .navbar-nav .active{
    color: #45a065 !important;
    text-shadow: 0 0 10px rgba(86, 196, 125, 0.966);
    animation: wraperight 0.4s linear;
}
.navbar .navbar-nav a{
    font-weight: 400;
    margin: 10px;
    animation: wraperight 0.4s linear;
}
.navbar .navbar-nav a:hover{
    color: #45a065 !important;
    text-shadow: 0 0 10px rgba(86, 196, 125, 0.966);
}

/* section header */

.header {
    background-image: url(../asass/img5/img19.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    height: 100vh;
}

.header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.5);
    top: 0;
    z-index: -1;
}
.header .content{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 130px;
    color: #e9e9e9;
    font-weight: 700;
    font-size: 30px;
    animation: wraper 0.4s linear  0.2s;
}
.content h2{
    font-weight: 900;
    font-size: 45px;
    margin: 1rem 0;
    text-shadow: 1px 8px 8px rgba(0, 0, 0,0.8);
}
.content b{
    color:#489161;
    margin: 10px;
    font-size: 50px;
}
.content h5{
    font-size: 25px;
    text-shadow: 1px 8px 8px rgba(0, 0, 0,0.8);
}
.content h6{
    font-size: 20px;
    text-shadow: 1px 8px 8px rgba(0, 0, 0,0.8);
}
.content a{
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #2c4635;
    color: #2c4635;
    padding: 10px 20px;
}
.content a:hover{
    background-color: #2c4635;
    color: #b5b8b6;
    box-shadow: 0 0 10px rgb(72, 112, 86),0 0 20px rgb(72, 112, 86);
}

/* section about */

.about .row .img{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    animation: wraperleft 0.4s linear .6s;
}
.about .row .text-about{
    color: #fff;
    text-align:justify;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: wraperight 0.4s linear .6s;
}
.about ul li::marker{
    content: '-  ';
}
.about ul .content-contect a{
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #2c4635;
    color: #2c4635;
    padding: 5px 10px;
}
.about ul .content-contect a:hover{
    background-color: #2c4635;
    color: #b5b8b6;
    box-shadow: 0 0 10px rgb(72, 112, 86),0 0 20px rgb(72, 112, 86);
}

/* section product */

.product .row .card-img{
   width: 100%;
   border: 1px solid #969696;
   height: 200px;
   margin: 5px 0;
   animation: wraper 0.4s linear;
}
.product .row .card-img .img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 0.3s ease;
   animation: wraper 0.4s linear;
}
.product .product-title{
    color: #f0f0f0;
    margin: 10px;
    h4{
        font-size: 30px;
        font-weight: 700;
    }
}
.product p{
    color: #b6b4b4;
}

/* section contact */

.contact .row {
    color: #c7c5c5;
}
.contact .card {
    background: #081b05;
    border: 1px solid #022006;
    border-radius: 10px;
    box-shadow: 2px 8px 10px rgb(0, 0, 0,0.5);
}
.contact .card .form-group input{
    background: transparent;
}
.form-control{
    background: transparent;
}
.form-control::placeholder{
    background: transparent;
}
.form-select{
    background: transparent;
}
.btn{
    background-color:#10301b;
    color: #c5baba;
}
.btn:hover{
    color: #c5baba;
}
.footer{
    background-color: #011105;
    color: #c5baba;
}
.footer .row{
    border-bottom: 1px solid #444645;
}
.footer .row h5{
    font-weight: 700;
    position: relative;
}
.footer .row h5::after{
    border-bottom: 2px solid #1f6939;
    width: 50px;
    content: '';
    position: absolute;
    height: 4px;
    left: 0;
    bottom: -3px;
    border-radius: 10px;
}
.footer .row ul a{
    color: #c5baba;
}
.data-footer .content-contect a{
    margin-top: 10px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #2c4635;
    color: #2c4635;
    padding: 5px 10px;
}
.data-footer .content-contect a:hover{
    background-color: #2c4635;
    color: #b5b8b6;
    box-shadow: 0 0 10px rgb(72, 112, 86),0 0 20px rgb(72, 112, 86);
}

@media (max-width: 768px){
    .content b{
        font-size: 38px;
    }
    .content h2{
        font-size: 28px;
    }
    .content h5{
        font-size: 24px;
    }
    .content h6{
        font-size: 18px;
    }
    .content a{
        font-size: 15px;
        padding: 5px 10px;
    }
}

/* keyframes */
@keyframes wraper{
    0%{
        filter: blur(20px);
        opacity: 0;
        transform: translate(0,100px);
    }
    100%{
        filter: blur(0px);
        opacity: 1;
        transform: translate(0,0);
    }
}
@keyframes wraperight{
    0%{
        filter: blur(20px);
        opacity: 0;
        transform: translate(100px,0);
    }
    100%{
        filter: blur(0px);
        opacity: 1;
        transform: translate(0,0);
    }
}
@keyframes wraperleft{
    0%{
        filter: blur(20px);
        opacity: 0;
        transform: translate(-100px,0);
    }
    100%{
        filter: blur(0px);
        opacity: 1;
        transform: translate(0,0);
    }
}
